.imgback{
    background-image: url('./assets/img.webp');
    background-size: cover;
    background-position: center;
    height: 90vh;
    display: flex; /* Utilizziamo flexbox per estendere l'immagine */
    justify-content: center; /* Centra l'immagine verticalmente */
    align-items: center; /* Centra l'immagine orizzontalmente */
}


.homepage{
    font-size: 7em;
    font-weight: bolder;
    text-shadow: #d5c28f 2px 2px 20px;
}
.homepage span{
    color: #d5c28f;
    
}

.immaginedisco{

    height: 372px;
    width:648px;
}
.eventi{
    padding-bottom: 48px;
    padding-top: 48px;
    border-top: #d5c28f 2px solid;
    border-bottom: #d5c28f 2px solid;
}
.eventi2{
    padding-bottom: 48px;
    padding-top: 48px;
    border-bottom: #d5c28f 2px solid;
    
}

.modal-open{
    padding-right: 0px!important;   
    overflow: auto!important;
}
.testoeventi{
    font-size: 2em;
}
.widthadattiva{
    width: 50%;
}
.widthadattiva p{
    font-size: 1.5em;

}
.widthadattiva input{
    font-size: 1.2em;

}


@media only screen and (max-width: 400px){
    .homepage{
        font-size: 2.5em;
    }
    .homepage p{
        margin-bottom: 0px;
    }
    .imgback{
        height: 35vh;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .immaginedisco{
        height: 200px!important;
        width: 350px!important;
    }
    .testoeventi{
        font-size: 1.5em;
    }
    .immagini{
        height: 200px!important;
        width: 350px!important;
    }
    .locationdetails{
        
        padding-bottom: 10px!important;
    }
    .modal-content{
        width: 38%!important;
        margin-top: 150px!important;
    }
    
    .mappamodale{
        height:300px!important;
    }
    .widthadattiva{
        width: 100%!important;
    }
    .widthadattiva p{
        font-size: 1.2em!important;
    }
    .widthadattiva input{
        font-size: 1em!important;
    }
    .carousel-control-next{
        right: 0px!important;
    }
    .carousel-control-prev{
        left: 0px!important;
    }
    
}


